.container{
    display: flex;
    color:blueviolet;
    flex-direction: column;
    justify-content: center
    align-items: center;
}
  
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  
.key{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 0px 30px;
    margin: 0 30px;
}